.rightTab {
	padding-right: 1em;
}

p {
	font-size: 18px;
	padding-top: 10px;
}

#panel-detail {
	border: solid 1px lightgray;
	padding: 40px;
	border-radius: 5px;
	/* margin-top: 50px; */
	box-shadow: 5px 5px 15px lightgray inset;
	color: black;
}