<div class="col-md-4" style="margin-left: -1em;">

<div id="panel-detail" class="panel" *ngIf="devotional">
	<div class="panel-heading">
		<div class="row">
		<h3 style="font-weight:bold;">{{ devotional?.devoName }}</h3>
	</div>

	<hr style="color: black;">

	<div class="panel-body">
		<p><b class="rightTab">Speaker:</b>
			<br>&nbsp;&nbsp;&nbsp;&nbsp; {{ devotional?.author }}
		</p>

		<p *ngIf="devotional?.authorTitle"><b class="rightTab">Speaker Position:</b>
			<br>&nbsp;&nbsp;&nbsp;&nbsp; {{ devotional?.authorTitle }}
		</p>

		<p><b class="rightTab">Date Given:</b>
			<br>&nbsp;&nbsp;&nbsp;&nbsp; {{ devotional?.date | slice: 0:10 | date : 'shortDate' }}
		</p>

		<p><b class="rightTab">Address Location:</b>
			<br>&nbsp;&nbsp;&nbsp;&nbsp; BYU {{ devotional?.campus }}
		</p>

		<p *ngIf="devotional?.uri"><b class="rightTab">Transcript:</b>
			<br>&nbsp;&nbsp;&nbsp;&nbsp; <a href="{{ devotional?.uri }}" target="_blank">View the transcript</a>
		</p>

		<p *ngIf="devotional?.video_URI"><b class="rightTab">Video:</b>
			<br>&nbsp;&nbsp;&nbsp;&nbsp; <a href="{{ devotional?.video_URI }}" target="_blank">View the video recording</a>
		</p>

		<p *ngIf="devotional?.mP3_URI"><b class="rightTab">Audio:</b>
			<br> <audio controls style="width: 100%;" src="{{ devotional?.mP3_URI }}" type="audio/mpeg"></audio>
		</p>

		</div>
	</div>
</div>

</div>